@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

h2, h3, p, i {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  color: #eeeeee;
}

body {
  position: relative;
  margin-top: 10%;
  background-color: #edededb6;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  background-color: #ffffffab;
}

nav .icon-mobile {
  color: #000d26;
  margin: 0px 0px 0px 10px;
  display: none;
}

nav h1 {
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  font-size: 3.5em;
}

nav h1 a {
  color: #001233;
  text-decoration: none;
}

nav h1 a:hover {
  color: #001233;
}

nav ul {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav ul li {
  color: #001233;
  font-size: 1.5em;
  list-style: none;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
}

nav ul li .icon {
  color: #000d26;
  margin: 0px 0px 0px 10px;
}

nav ul li a {
  color: #001233;
  text-decoration: none;
}

nav ul li:hover .icon {
  color: #023E7D;
}

.contactanos {
  z-index: 10;
  display: block;
  position: fixed;
  width: 60px;
  bottom: 10vh;
  right: 5vw;
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main .carousel img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
  margin: auto;
}

main section {
  margin: 6%;
}

main section h2 {
  margin: 0 0 2% 0;
  font-size: 3em;
  text-align: center;
  color: #001233;
}

main section .categories-shop {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .categories-shop article {
  position: relative;
  width: 45%;
  cursor: pointer;
}

main section .categories-shop article:hover img {
  -webkit-filter: saturate(130%);
          filter: saturate(130%);
  -webkit-animation: expand-image 2s;
          animation: expand-image 2s;
}

main section .categories-shop article:hover p {
  display: block;
  -webkit-animation: aparition-text .7s;
          animation: aparition-text .7s;
}

@-webkit-keyframes aparition-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes aparition-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

main section .categories-shop article p {
  position: absolute;
  display: none;
  background-color: #023d7de3;
  padding: 5px;
  text-align: center;
  width: 100%;
  bottom: 50px;
  font-size: 1.5em;
  font-weight: 500;
  color: #eeeeee;
}

main section .categories-shop article img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
}

footer {
  width: 96%;
  margin: 10% auto auto auto;
  background-color: #002855;
}

footer h2 {
  text-align: center;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-flex .contact {
  width: 31%;
  border-right: 1px solid #001845;
}

footer .footer-flex .contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-flex .contact i {
  font-size: 2em;
  margin: 1.2%;
  text-align: center;
  cursor: pointer;
}

footer .footer-flex .encuentranos {
  padding: 0 1%;
  width: 31%;
}

footer .footer-flex .llamanos {
  width: 31%;
  border-left: 1px solid #001845;
  padding: 0 1%;
}

footer .copyright p {
  text-align: center;
  font-style: italic;
}

@media (max-width: 480px) {
  body {
    margin-top: 25%;
  }
  header nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: none;
  }
  header nav .icon-mobile {
    position: relative;
    display: block;
    font-size: 2em;
    margin: 0 10px;
  }
  header nav .icon-mobile:hover .responsive-menu-right {
    top: 50px;
    left: -90vw;
  }
  header nav .icon-mobile:hover .responsive-menu-left {
    top: 50px;
    left: -4vw;
  }
  header nav .icon-mobile:hover .responsive-menu {
    width: 104vw;
    padding: 10px;
    background-color: #023E7D;
    position: absolute;
    display: block;
    -webkit-animation: aparicion-menu 0.3s;
            animation: aparicion-menu 0.3s;
  }
  @-webkit-keyframes aparicion-menu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes aparicion-menu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  header nav .icon-mobile:hover .responsive-menu li {
    color: #eeeeee;
    margin: 10px 0;
    font-size: 0.7em;
  }
  header nav .icon-mobile:hover .responsive-menu li a {
    color: #eeeeee;
  }
  .contactanos {
    bottom: 3vh;
    right: 3vh;
  }
  main section {
    margin: 0;
  }
  main section .carousel img {
    width: 100%;
    height: 160px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main section .categories-shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .categories-shop article {
    margin-top: 20px;
    width: 100%;
  }
  main section .categories-shop article img {
    width: 100%;
  }
  footer .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-flex .contact {
    border: none;
    width: 95%;
    margin: 10px 0;
  }
  footer .footer-flex .encuentranos {
    width: 95%;
    margin: 10px 0;
    border-top: 1px solid #001845;
  }
  footer .footer-flex .llamanos {
    width: 95%;
    border-left: none;
    border-top: 1px solid #001845;
    margin: 10px 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    margin-top: 12%;
  }
  header nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: none;
  }
  header nav .icon-mobile {
    position: relative;
    display: block;
    font-size: 2em;
    margin: 0 10px;
  }
  header nav .icon-mobile:hover .responsive-menu-right {
    top: 50px;
    left: -93vw;
  }
  header nav .icon-mobile:hover .responsive-menu-left {
    top: 50px;
    left: -3vw;
  }
  header nav .icon-mobile:hover .responsive-menu {
    width: 100vw;
    padding: 10px;
    background-color: #023E7D;
    position: absolute;
    display: block;
    -webkit-animation: aparicion-menu 0.3s;
            animation: aparicion-menu 0.3s;
  }
  @-webkit-keyframes aparicion-menu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes aparicion-menu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  header nav .icon-mobile:hover .responsive-menu li {
    color: #eeeeee;
    margin: 10px 0;
    font-size: 0.7em;
  }
  header nav .icon-mobile:hover .responsive-menu li a {
    color: #eeeeee;
  }
  main section .carousel img {
    width: 100%;
    height: 220px;
  }
  main section .categories-shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .categories-shop article {
    margin-top: 20px;
    width: 100%;
  }
  main section .categories-shop article img {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  nav h1 {
    font-size: 2em;
  }
  nav ul {
    width: 40%;
  }
  nav ul li {
    font-size: 1em;
  }
  main section .carousel img {
    height: 330px;
  }
  main section .categories-shop article img {
    height: 230px;
  }
}

@media (min-width: 1920px) {
  nav h1 {
    font-size: 4em;
  }
  nav ul li {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=style.css.map */