//colores

$true-blue:#0466C8;
$drussian-blue:#0353A4;
$dark-cornflower-blue:#023E7D;
$oxford-blue:#002855;
$oxford-dark-blue:#001845;
$oxford-darker-blue:#001233;
$ultra-darker-blue:#000d26;
$grey:#5C677D;
$white-grey:#7D8597;
$whitr-grey: #eeeeee;
$white:#ffffffab;
$background:#edededb6;
//resets
*{
    margin: 0;
    padding: 0;
}
h2,h3,p,i{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    color: $whitr-grey;
}
//body
body{
    background-color: $background;
}
//mixings
@mixin list-nav {
    width: 35%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}
@mixin li-style {
    color: $oxford-darker-blue;
    list-style: none;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
}
@mixin icon {
    color: #000d26;
    margin:0px 0px 0px 10px;
}
//font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
//header
nav{
    display: flex;

    width: 100%;
    z-index: 10;
    justify-content: space-between;
    padding: 1%;
    background-color: $white;

    .icon-mobile{
        @include icon;
        display: none;
    }

    h1{
        font-family: 'Bebas Neue', cursive;
        margin: 0;
        font-size: 3.5em;
        a{
            color: $oxford-darker-blue;
            text-decoration: none;
            &:hover{
                color: $oxford-darker-blue;
            }
        }
    }

    ul{
         @include list-nav;
            
        li{
            font-size: 1.4em;
            @include li-style;
            
            .icon{
                @include icon;
                
            }
            a{
                color: $oxford-darker-blue;
                text-decoration: none;
            }
            &:hover .icon{
    
                color:$dark-cornflower-blue;
            }

        }

        .dropdown-list{
            position: relative;
            
            &:hover ul {
                display: block;
                animation: aparicion-menu 0.3s ;
                @keyframes aparicion-menu {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 100%;
                    }
                }
            }
                
            ul{
                position: absolute;
                display: none;
                left: 0px; 
                top: 35px;
                background-color: $dark-cornflower-blue;
                width: 200px;
                padding: 10px;
                a{
                    color:$whitr-grey;
                    font-weight: 300;
                    text-decoration: none;
                    margin: 10px;
                    font-size: 0.5em;
                    &:hover{
                        color: $white-grey;
                    }
                }
            } 
        }
    }


}
//main /registro
main{
    h2{
        color: $ultra-darker-blue;
        text-align: center;
        margin: 3%;
        font-style: italic;
    }
}

//registro
form{
    background-color: $drussian-blue;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px ;

    button{
        display: block;
        margin: 20px auto;
        padding: 8px;
        width: 150px;
        border-radius: 3px;
        border: 1px solid $oxford-dark-blue;
        background-color:$dark-cornflower-blue;
        color: $white;
        &:hover{
            background-color: $oxford-dark-blue;
            animation: hover-button 0.2s;
            @keyframes hover-button {
                0%{
                    background-color: $dark-cornflower-blue;
                }
                100%{
                    background-color: $oxford-dark-blue;
                }
            }
        }
    }
    h3{
        text-align: center;
        font-size: 2.3em;
    }
    label{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        input{
            padding: 8px;
            border-radius: 3px;
            border: none;
        }
        
    }
    a{
        color: $oxford-dark-blue;
        font-weight: bold;
        &:hover{
            color: $ultra-darker-blue;
        }
    }
}

//footer
footer{
    width: 96%;
    margin: 10% auto auto auto;
    background-color: $oxford-blue;
    h2{

        text-align: center;
    }
    .footer-flex{
        display: flex;
        padding: 1%;

        .contact{
            border-right: 1px solid $oxford-dark-blue;
            width: 50%;
           
            .icons{
                display: flex;
                justify-content: center;
            }
            i{
                font-size: 2em;
                margin: 1.2%;
                text-align: center;
                cursor: pointer;
            }


        }

        .encuentranos{
            padding: 0 1%;
            
        }

    }
    .copyright{
        p{
            text-align: center;
            font-style: italic;
        }
    }
    
}

//mediaquerys
//celulares
@media (max-width: 480px) {

    //navbar

    header{
        nav{
            align-items: center;
            h1{
                font-size: 2.5em;
            }
            ul{
                display: none;

            }

            //responsive menu

            .icon-mobile{
                position: relative;
                display: block;
                font-size: 2em;
                margin: 0 10px;
                &:hover{
                    .responsive-menu-right{
                        top: 50px;
                        left: -90vw;
                    }
                    .responsive-menu-left{
                        top: 50px;
                        left: -4vw;
                    }
                    .responsive-menu{
                        width: 104vw;
                        padding: 10px;
                        background-color: $dark-cornflower-blue;
                        position: absolute;
                        display: block;
                        animation: aparicion-menu 0.3s ;

                        @keyframes aparicion-menu {
                        0%{
                            opacity: 0;
                            }
                            
                        100%{
                            opacity: 100%;
                            }

                        }
                        
                        li{
                            color: $whitr-grey;
                            margin: 10px 0;
                            font-size: 0.7em;
                            a{
                                color: $whitr-grey;
                            }
                        }
                        .dropdown-list{
                            ul{
                                width: 101vw;
                                top: 25px;
                                left: -3vw;
                                background-color: $oxford-blue;
                            }
                            li{
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }
        }

    }

    //main

    form{
        width: 95%;
    }

    //footer

    footer{
        .footer-flex{
            flex-direction: column;
            align-items: center;
            .contact{
                border: none;
                width: 95%;
                margin: 10px 0;
            }
            .encuentranos{
                width: 95%;
                margin: 10px 0;
                border-top: 1px solid $oxford-dark-blue;
            }
            .llamanos{
                width: 95%;
                border-left: none;
                border-top: 1px solid $oxford-dark-blue;
                margin: 10px 0;
            }
        }
    }
}

//tablets

@media (min-width: 481px) and (max-width: 768px) {

    //navbar
    header{
        nav{
            align-items: center;
            h1{
                font-size: 2.5em;
            }
            ul{
                display: none;

            }

            //responsive menu (queria hacer que lo heredara del anterior mediaquery, pero no encontre como)

            .icon-mobile{
                position: relative;
                display: block;
                font-size: 2em;
                margin: 0 10px;
                &:hover{
                    .responsive-menu-right{
                        top: 50px;
                        left: -87.5vw;
                    }
                    .responsive-menu-left{
                        top: 50px;
                        left: -3vw;
                    }
                    .responsive-menu{
                        width: 100vw;
                        padding: 10px;
                        background-color: $dark-cornflower-blue;
                        position: absolute;
                        display: block;
                        animation: aparicion-menu 0.3s ;

                        @keyframes aparicion-menu {
                        0%{
                            opacity: 0;
                            }
                            
                        100%{
                            opacity: 100%;
                            }

                        }
                        
                        li{
                            color: $whitr-grey;
                            margin: 10px 0;
                            font-size: 0.7em;
                            a{
                                color: $whitr-grey;
                            }
                        }
                        .dropdown-list{
                            ul{
                                width: 101vw;
                                top: 25px;
                                left: -3vw;
                                background-color: $oxford-blue;
                            }
                            li{
                                font-size: 1.4em;
                            }
                        }
                    }
                }
            }
        }

    }
    //form
    form{
        width: 80%;
    }

      //footer

      footer{
        .footer-flex{
            flex-direction: column;
            align-items: center;
            .contact{
                border: none;
                width: 95%;
                margin: 10px 0;
            }
            .encuentranos{
                width: 95%;
                margin: 10px 0;
                border-top: 1px solid $oxford-dark-blue;
            }
            .llamanos{
                width: 95%;
                border-left: none;
                border-top: 1px solid $oxford-dark-blue;
                margin: 10px 0;
            }
        }
    }

}
//monitores pequeños
@media (min-width: 769px) and (max-width: 1280px){
    //navbar
        nav{

            h1{
                font-size: 2em;
            }
            ul{
                width: 40%;
                li{
                font-size: 1em;
                }
                .dropdown-list{
                    a{
                        font-size: 1em;
                    }   
                }
            }
        }

}

//monitores  1600 * 900 no necesitan mediaquerys

//monitores 1920 en adelante

@media (min-width: 1920px) {
    nav{
        h1{
            font-size: 4em;
        }
        ul{
            li{
                font-size: 1.4em;

            }
        }
    }
}
